body {
    background-color: steelblue;
    font: normal 15pt Arial;
}

header {
    color: aliceblue;
    text-align: center;
}

section {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 15px;
    max-width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
}

div {
    text-align: left;
    padding: 7px;
}
iframe {
    background-color: #d3d3d3;
}

footer {
    color: aliceblue;
    text-align: center;
    font-style: italic;
    font-size: 13pt;
}
footer p a {
    color: black;
    font-weight: bold;
}
footer p a:hover{
    color: aliceblue;
}